html {
    margin: 0;
    background: white;
    color: black;
    font-size: 10px;
    font-family: Open Sans, sans-serif;
    line-height: 1.15;
    text-size-adjust: 100%;
    text-size-adjust: 100%;
}

a {
    font-weight: bold;
    text-decoration: underline;
}



.button { /*para todas as tags button*/
    background: #269300;
    border-radius: 20px; /*arredondamento dos cantos do botão*/
    color: #fff; 
    display: block;
    padding: 20px; /*largura do botão*/
    margin: 0 auto; /*para ficar colocado no centro*/
    text-align: center;
    width: 200px;
}

header {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 100%;
  justify-content: center;
  position: relative;
  text-align: center;
}

header::before{ /*é este que possui a imagem e que vai receber a animação*/
    animation: desce-imagem 2.3s 0.6s /*ease-out*/cubic-bezier(0,0.5,0,1) forwards; /*ease-out -- rapido no inicio e lento no final --- usado para elementos em moving in;;; forward - ate ao ultimo frame e para lá ---- podemos usar bezier curves para nao usar as 4 animações predefinidas --- o primeiro valor é a duração da animação --- segundo valor é o delay antes de começar a animação*/
    opacity: 0; /*sem isto e com o delay, a imagem aparecia e voltava a desaparecer*/
    background-image:linear-gradient(to bottom, rgb(0,0,0,0), rgb(0,0,0,0.8)),url(../images/iguana.jpg);
    content: "";
    background-size: cover;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1; /*para colocar atrás dos outros elementos*/
}



/*no final do header, para fazer o corte*/
header::after { /*chamado de sudo-elemento, nao necessita de markup no html*/
  animation: sobe-fundo 0.7s 0.5s cubic-bezier(0,0.5,0,1) forwards;
  background: /*sienna*/white;
  height: 140px; /*tamanho*/
  left: -0%; /*adicionar bordas para não ficar a ver o corte*/
  right: -0.9%;
  top: 87%; /*mover para baixo*/
  position: absolute;
  /*transform: rotateZ(-5deg); agora feito na animação*/
  content: "Mateus Silva";
  padding: 22px;
  font-style: italic;
  text-align: right;
  font-size: 7px;
  color: black;
    z-index: 0;

}

.titulo, .subtitulo {
  color: white;
}


/*margem para o botão nao ficar encostado*/
.subtitulo {
  margin-bottom: 27px;
  /*text-transform: uppercase;*/
}

.botao { /*para a class botão*/
  position: relative;
}

.logo {
    width: 100%;
    max-width: 120px;
    filter: invert(100%); /*a imagem estava a preto, por isso usei esta função de interver as cores*/
}

.seta{
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    text-align: center;
    z-index:10;
}

.seta{
    animation: setaa 6s 1s ease-out infinite;
    opacity: 0;
}



/*animação para o sudo elemento de cima -- imagem*/

@keyframes desce-imagem{
    0%{ /*inicio*/
        opacity: 0;
        transform: translateY(-64px);
    }
    100%{ /*fim*/
        opacity: 1;
        transform: none;
    }
}
/*animação para as letras*/

@keyframes desce-letras{
    0%{ /*inicio*/
        opacity: 0;
        transform: translateY(-64px) scale(0.9);
    }
    100%{ /*fim*/
        opacity: 1;
        transform: none;
    }
}

@keyframes sobe-fundo{
    100%{
        transform: rotateZ(-5deg);
    }
}

@keyframes setaa{
    0%{
       opacity: 0;
       transform: translateY(20px);
    }
    
    50%{
        opacity: 1;
        transform: translateY(-20px);
    }
    
    100%{
          opacity: 1;
        transform: none;
    }
}

.animate-desce-letras{
    animation: desce-letras 1.5s /*ease-out*/ cubic-bezier(0,0.9,0.3,1.2) forwards;
    opacity: 0;
}

.titulo{
    animation-delay: 1s;
}

.subtitulo{
    animation-delay: 1.2s;
}

.logo{
    animation-delay: 0.8s;
}

.botao{
    animation-delay: 1.3s;
}
